
body{
    background: #000;
    color: #fff;
}
.contec-header_img{
    width: 50px;
}
.img-main{
    width: 100%;
}
.img-nav{
    width: 100%;
}
/*section*/
.Modulo-Lectur{
    box-sizing: border-box;
    border: solid #051c79;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #051c79, #384da0);
    text-align: center;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.5em;
}
.subtitle{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #c61a23;
    font-size: 2em;
    text-align: left;
}
a{
    color: #e5db11;
    text-decoration: none;
}
.header{
    background: #374dae;
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    position: sticky;
    top: 0px;

}
.nav{
    width: 80%;
    margin: auto;
}
.header-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contec-img{
    width: 70%;
    margin: auto;
    margin-top:15px ;
    margin-bottom: 10px;
}
.conclucion{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #374dae;
    padding: 10px;
}