
.body{
    background: #000;
    color: #fff;
}
/* menu */
.lista{
    display: flex;
    flex-direction: column;
    list-style: decimal;
    width: 70%;
    margin: auto;
}
.lista_iten{
    margin-bottom: 15px;
}
/* sub menu */
.subMenu{
    display: none;
}
.header-ul li:hover > ul{
    display: block;
    position: absolute;
    width: 100px;
    height: 200px;
    background: #0e0368;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
}
.contec-header_img{
    width: 50px;
}
.img-main{
    width: 100%;
}
.img-nav{
    width: 100%;
}
/*section*/
.Modulo-Lectur{
    box-sizing: border-box;
    border: solid #051c79;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #051c79, #384da0);
    text-align: center;
    /* justify-content: space-between; */
}
.title{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.5em;
}
.subtitle{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #c61a23;
    font-size: 2em;
    text-align: left;
}
a{
    color: #e5db11;
    text-decoration: none;
}
.header{
    background: #374dae;
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    position: sticky;
    top: 0px;

}
.nav{
    width: 80%;
    margin: auto;
}
.header-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contec-img{
    width: 70%;
    margin: auto;
    margin-top:15px ;
    margin-bottom: 10px;
}
.conclucion{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #374dae;
    padding: 10px;
}
.car{
    margin: auto;
    margin: 20PX;
    padding: 20px;
    border: solid #051c79;
    text-align: center;
    width: 150PX;
    &:hover{
        width: 200px;
        box-shadow:0px 0px 30px #8ca0f1;
        border: solid #e4e8f7;
    }
}
.contecCarts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
